<template>
  <require from="./earthquake-info.css"></require>
  <div id="earthquake-title">
    <p>
      ${locale.earthquake_info.magnitude}
      <br/>
      <span>${magnitude}</span>
    </p>
    </div>
  <div id="earthquake-state">
    <p id="severity">
      ${locale.earthquake_info.zone}
    </p>
      <span>${zone}</span>
    <p id="severity">
      ${locale.earthquake_info.effected_area}
    </p>
      <span>${feltarea}</span>
    <p id="updated">${locale.earthquake_info.updated}: ${last_updated}</p>
      <p id="updated">${locale.earthquake_info.source}:   <img src="/assets/icons/BMKG Logo _EQ.png" alt="earthquake source image"/></p>
  </div>
</template>
