<template>
  <require from="./report-info.css"></require>
  <div class="popupWrapper">
  <div  id="photoPreview">
    <div class="image" id="hasPhoto" show.bind="imageurl">
      <img src.bind="imageurl" click.delegate="openLightbox(fullsizeimg)">
    </div>
    <div class="image" id="noPhoto" show.bind="!imageurl">
      <i show.bind="height" class="icon-flood-img phFlood" ></i>

      <img show.bind="(condition || structureFailure || fireDistance || evacuationNumber) && disasterType !== 'flood' && !visibility && !impact" src.bind='"assets/icons/disasterPH/"+disasterType+"_"+sevearity+".png"' class="phImage"/>

      
      <img show.bind="visibility >= 0" src.bind='"assets/icons/disasterPH/"+disasterType+"_"+visibilityImgPlaceholderSuffix[visibility]+".png"' class="phImage"/>
      <img show.bind="impact >= 0" src.bind='"assets/icons/disasterPH/"+disasterType+"_"+impactImgPlaceholderSuffix[impact]+".png"' class="phImage"/>

    </div>
  </div>
<!-- ${airQualityValues[airQuality]} -->
  <div id="textPreview">
    <div id="bodyWrapper">
      <p show.bind="title" class="textTitle">${title}</p>
      <p show.bind="height" class="textTitle">${locale.report_info.water_depth} <span class.bind=sevearity> ${height} ${config.height_units}</span></p>
      <p show.bind="accessabilityFailure" class="textTitle">${locale.report_info.access_key} <span class.bind=accessabilitySevearity>${accessabilityFailure} <span> </p>
      <p show.bind="condition" class="textTitle">${locale.report_info.disturbance_key} ${condition}</p>
      <p show.bind="airQuality >= 1" class="textTitle"><span class='textKey'>${locale.report_info.airQualityKey}</span><br><span css="color: ${airQualityColors[airQuality]}">${locale.report_info.airQualityValues[airQuality]}</span></p>
      <p show.bind="visibility >= 0" class="textTitle"><span class='textKey'>${locale.report_info.visibilityKey}</span><br> ${locale.report_info.visibilityValues[visibility]}</p>
      <p show.bind="fireextent" class="textTitle"><span class='textKey'>${locale.report_info.fireextentKey}</span><br> <span class.bind=sevearity> ${fireextent} </span> </p>
      <p show.bind="impact >= 0" class="textTitle"><span class='textKey'>${locale.report_info.impactKey}</span><br> <span css="color: ${impactColors[impact]}">${locale.report_info.impactValues[impact]}</span></p>
      <p show.bind="volcanicSigns" class="textTitle"><span class='textKey'>${locale.report_info.signsKey}</span><br> ${volcanicSigns}</p>
      <p show.bind="noOfPeople" class="textTitle"><span class='textKey'>${locale.report_info.peopleKey}</span><br> ${locale.report_info.peopleValues[noOfPeople]}</p>
      <p show.bind="evacArea === true || evacArea === false" class="textTitle"><span class='textKey'>${locale.report_info.evacuateKey}</span><br> ${evacArea ? locale.report_info.evacuateVal[0] : locale.report_info.evacuateVal[1]}</p>
      <p show.bind="structureFailure" class="textTitle">${locale.report_info.structure_key} <span class.bind=sevearity> ${structureFailure} <span></p>
      <p show.bind="reportevent" class="textTitle">${locale.prep_menu.btn_names[reportevent]}</p>
      <p if.bind="!isPartnerImage" id="source">${locale.report_info.source}&nbsp;
        <a target="_blank" href.bind="links[source]">
          <img id="sourceImg" src.bind="'assets/icons/img_' + source + '.svg'" width="18" height="18"></img>
        </a>
      </p>
      <p if.bind="isPartnerImage" id="source">${locale.report_info.source}&nbsp;
        <a target="_blank" href.bind="links[source]">
          <img id="sourceImg" src.bind=[fetchPartnerImage] width="18" height="18"></img>
        </a>
      </p>
      <p id="timeStamp">${timestamp}</p>
      <p id="textBody">${text}</p>
    </div>

    <div id="voteIcons">
      <table>
        <tr>
          <td>
            <!-- Downvote -->
            <!-- Use trigger when button needs to be disabled -->
            <button id="downVoteButton" class="voteButtons" disabled.bind="downvoteDisabled" click.trigger="voteHandler(-1)">
            <i class.bind="'icon-downvote'" title.bind="voteButtons[1].tooltip"></i>
            </button>
          </td>

          <td>
            <!-- Upvote -->
            <!-- Use trigger when button needs to be disabled -->
            <button id="upVoteButton" class="voteButtons" disabled.bind="upvoteDisabled" click.trigger="voteHandler(1)">
              <i class.bind="'icon-upvote'" title.bind="voteButtons[0].tooltip"></i>
            </button>
          </td>

          <td repeat.for="button of shareButtons">
            <button class="shareButtons" id.bind="'shareButtons' + button.name" click.delegate="feedbackInteraction(button)">
              <i class.bind="'icon-' + button.name" title.bind="button.tooltip"></i>
            </button>
          </td>
        </tr>
      </table>
      </div>


    <div id="shareFlyer" class="interactionFlyer">
      <p>${locale.report_info.share}</p>
      <a repeat.for="button of socialButtons" href.bind="button.intent" >
        <i  id="socialButtons" class.bind="'icon-' + button.name" ></i>
      </a>
    </div>

    <div id="flagFlyer" class="interactionFlyer">
      <p>${locale.report_info.flagReport_Title}</p>
      <a href.bind="'mailto:' + locale.report_info.flagReport_email + '?subject=Please%20review%20this%20report%20&#40;Report%20id%20&#58;%20' + id + '&#41;'"><button id="submitButton">${locale.report_info.flagReport_button}</button></a>
    </div>

    </div>
  </div>
  </template>
